/.bundle
/.librarian
/.snapshot
/.tmp
/bin
/config/local.rb
/log
/tmp
/shared/*
!/shared/README.md
/vendor/gems/
/vendor/puppet/cache/*

/.libs/
/Makefile
/config.log
/config.status
/fficonfig.h
/include/
/libffi.la
/libffi.pc
/libffi_convenience.la
/libtool
/local.exp
/man/
/src/
/stamp-h1
/testsuite/